* {
    padding: 0;
    margin: 0;
}
body, button,input, select {
  font: 400 1rem 'Inter', sans-serif;
}
h1{
  font: 500 3.6rem 'Lexend', sans-serif;
}
body {
  background-color: #363636;
}

button, select{
  cursor: pointer;
}