.headerContainer {
    width: 100%;
    height: 8vh;
    background: #000;
    color: #fff;
    display: flex;
}

.headerContainer h1 {
    font-size: 3.2rem;
    align-self: center;
    margin-left: 10px;
}
.formSearch{ 
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    
}
.searchBook, .searchSubmit{
    margin-right: 20px;
    height: 50%;
    align-self: center;
}
.searchBook{
    width: 25%;
}

@media (max-width: 374px){
    .logo {
        display: none;
    }
    .searchBook{
        width: 75%;
    }
}

