.livros {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    gap: 15px 15px;
    margin: 0 0 15px 15px;
    // border: 1px solid yellow;
    margin-bottom: auto;
    max-width: 100%;
    margin: 15px 15px;
    .livro{
        border-radius: 0.3rem;
        background-color: #444444;
        a{
            text-decoration: none;
            color:#fff;
        }
        p{
            position: relative;
            top: -50%;
            // display: none;
            font-size: 1.5rem;
        }

    }

    

    .livro:hover{
        cursor: pointer;
        margin: 10px;

        p {
            display: block;
            color: white;
        }
    }


}

.emptyBooks{
    margin-top: auto;
    font-size: 2rem;
}

@media (max-width: 1310px)and (min-width: 902px){
    .livros {
        grid-template-columns: repeat(4,1fr);
    }
}

@media (max-width: 901px) and (min-width: 375px){
    .livros {
        grid-template-columns: repeat(2,1fr);
        
    }
}

@media(max-width: 500px){
    .livros{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 0 10px;
    }
}