.container input{
    width: 400px;
    padding: 10px;
    border: hidden;
    border-radius: 5px;
    margin: 0 10px;
}

.container button{
    background: #7FFFD4;
    padding: 10px;
}
.livros {
    display: flex;
    list-style: none;
}

.livros li {
    background: red;
    width: 200px;
    margin: 10px 20px;
}