.bookContainer {
    height: 78.8vh;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    color: #fff;
    .image{
        padding-left: 50px;
    }

    .description{
        display: grid;
        padding-right: 50px;
        font-size: 2rem;
        
        justify-content: space-evenly;

        a {
            text-decoration: none;
            color: rgb(251, 217, 217);
            justify-self: flex-end;
            background-color: rgb(253, 133, 133);
            border-radius: 5px;
            height: 50px;
        }
    }
}